@font-face {
  font-family: "Aradora";
  src: url(../fonts/ArodoraPro-Light.otf);
}
@font-face {
  font-family: "Nextart";
  src: url(../fonts/NEXT_ART_Regular.otf);
}
:root{
	--gray-nt: #2d2d2d;
	--black-nt: #1c1c1c;
	--orange-nt: #e29500;
	--white-nt: #e4e4e4;
}
a, p, h3{
	font-family: "Aradora";
	color: var(--white-nt);
}
h1, h2{
	font-family: "Nextart";
	color: var(--white-nt);
}
body {
  background-color: var(--black-nt);
}
section {
  width: 100%;
  margin: auto;
}
div {
  box-sizing: border-box;
}
a, p, h3 {
  font-family: 'Aradora';
}
a {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Nextart';
}
li {
  list-style-type: none;
}
.container {
  width: 61%;
  margin: auto;
}

/* header
================================================================== */
.header{
  height: 48px;
  margin-top: 26px;
  background-color: var(--black-nt);
  position: sticky;
  top: 0;
  z-index: 3;
}
.header__logo{
  width: 181px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__nav{
  width: 59%;
  margin-right: 2%;
}
.header__nav-list{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header__nav-item a{
  color: #E4E4E4;
}
.header__nav-item a:hover{
  border-bottom: 2px solid #E29500;
  padding-bottom: 3px;
  color: white;
	font-weight: 700;
}

/* HOME ================================
======================================== */
.home{
	background-color: var(--black-nt);
}
.home__wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.home__content{
	width: 37.2%;
	padding-bottom: 10px;
}
.home__content_title, .home__content_text{
	color: var(--white-nt);
}
.home__content_title{
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 54px;
}
.home__content_title-span{
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 82px;
}
.home__content_text{
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 30px;
}
.home__content_button{
	font-family: "Nextart";
	font-weight: 700;
	--font-size-btn: 18px;
	font-size: var(--font-size-btn);
	padding: calc(var(--font-size-btn) /2) calc(var(--font-size-btn) * 2);
	text-transform: uppercase;
	color: var(--black-nt);
	background-color: var(--orange-nt);
	border: 1px solid var(--orange-nt);
	border-radius: 6px;
}
.home__content_button:hover{
	background-color: var(--black);
	color: var(--white);
}
.home__banner{
	margin-left: 15%;
}
.home__banner_img{
	width: 600px;
	height: 600px;
}

/* SKILLS===============================
======================================== */
.skills{
	background-color: var(--gray-nt);
}
.skills__wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 110px 0 110px 0;
}
.skills__item{
	width: 270px;
	height: 270px;
	margin: 10px;
	border-radius: 29px;
	background-color: var(--black-nt);
	color: var(--white-nt);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.skills__item-img{
	width: 75px;
	height: 75px;
	margin-top: 50px;
}
.skills__item-img img{
	object-fit: cover;
}
.skills__item p{
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 50px;
	margin-top: 63px;
}